.color-line {
    background: #f7f9fa;
    height: 6px;
    background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-size: 100% 6px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.navbar-header{
    background-color: #fff;
}
.navbar-header .navbar-toggle{
    background-color:#e4e5e7 ;
}
#logo_text{
    text-align: center;
    color: #05215a;
}
#wrapper{
    background-color: #f7f9fa;
}
#common_top{
    background-color: #fff;
    border-bottom: 1px solid #e4e5e7;
}
#common_left{
   /* background-color: #05215a;*/
    background-color: #f1f3f6;
    display: block;
}
#page-wrapper{
    background-color: #f1f3f6;
}
.header-link {
    padding: 18px 26px 17px 26px;
    font-size: 14px;
    float: left;
    height: 60px;
    border-right: 1px solid #e4e5e7;
    border-left: 1px solid #e4e5e7;
    border-bottom: 1px solid #e4e5e7;
    margin-right: 15px;
    background: #f7f9fa;
    cursor: pointer;
}
.header-link .fa{
    margin-top: 6px;
}

.header-link:hover {
    background: #c8c8c8;
}

#main-menu li {
    background-color: transparent;
}
#main-menu li a{
    color: #333;
}
#main-menu li a.active-menu{
    background-color: #fff;
}
#common_left ul li:hover{
    background-color: #fff;
}
#main-menu li a .fa{
    color:#333;
}
#margin_null{
    margin-top:1px;
    margin-bottom: 1px;
}
#logout_box{
    padding: 0;
    height: 60px;
    list-style: none;
    background: #f7f9fa;
    border-right: 1px solid #e4e5e7;
    border-left: 1px solid #e4e5e7;
    border-bottom: 1px solid #e4e5e7;
}
#logout{padding-top: 20px;
}
#logout_box a{
    text-decoration: none;
}
#logout_box a i{
    margin-top: 20px;
    padding: 20px;

}
.navbar-right{
    height: 60px;
}

#logout_box:hover{
    background: #c8c8c8;
}